<p><%= t("devise.mailer.confirmation_instruction.welcome") %> <%= @email %>!</p>

<p><%= t("devise.mailer.confirmation_instruction.instruction") %>:</p>

<p><%= link_to f("devise.mailer.confirmation_instruction.action"), confirmation_url(@resource, confirmation_token: @token) %></p>
